.container {
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0 auto;
}

th {
  height: 100px;
  cursor: pointer;
  padding: 10px;
  color: white;
  border-color: white;
  text-transform: uppercase;
  background-color: #444444;
}

td {
  padding: 10px;
  vertical-align: top;  
}

tbody tr:hover {
  background-color: #F8F8F8;
}